<div class="main-content">
    <div class="container-fluid">
      <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <p class="card-category">Invoices</p>
                        <h3 class="card-title">{{statistics.totalInvoice}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                           <!-- <i class="material-icons text-danger">warning</i>-->
                           <!-- <a href="#pablo">Get More Space...</a>-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <p class="card-category">Paid Invoices</p>
                        <h3 class="card-title">{{statistics.totalPaid}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cached</i>
                        </div>
                        <p class="card-category">Refund</p>
                        <h3 class="card-title">{{statistics.amountRefund}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--<i class="material-icons">date_range</i> Last 24 Hours-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Income</p>
                        <h3 class="card-title">{{statistics.income}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <div class="row">

              <div class="card">
                  <div class="card-header card-header-icon card-header-info">
                      <div class="card-icon">
                          <i class="material-icons">timeline</i>
                      </div>
                      <h4 class="card-title"> Daily statistics
                          <small> - for the current month </small>
                      </h4>
                  </div>
                  <div class="card-body">
                      <div id="colouredBarsChart" class="ct-chart"></div>
                  </div>
              </div>


        </div>
        <div class="row">

            <div class="card">
                <div class="card-header card-header-icon card-header-success">
                    <div class="card-icon">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <h4 class="card-title"> Monthly statistics
                        <small>- for the current year</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="multipleBarsChart" class="ct-chart"></div>
                </div>
            </div>

        </div>

    </div>
</div>
