<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-end dashboard-filter">

            <div class="col-md-4 dashboard-filter-element">
                <div class="form-group">
                    <div class="input-group">
                        <!--<input #dpFromDate
                               class="form-control" placeholder="Start date"
                               name="dpFromDate"
                               [value]="formatter.format(fromDate)"
                               (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                        <div class="input-group-append">
                            <button class="calendar-icon calendar fa fa-calendar " (click)="datepicker.toggle()"
                                    type="button"></button>
                        </div>-->
                        <input type="text"
                               class="form-control" placeholder="Date range"
                               name="dpFromDate"
                               daterangepicker [options]="options"
                               (selected)="selectedDate($event, daterange)" />
                    </div>
                </div>
            </div>

           <!-- <div class="col-md-2 dashboard-filter-element">
                <div class="form-group">
                    <div class="input-group">
                        <input #dpToDate
                               class="form-control" placeholder="End date"
                               name="dpToDate"
                               [value]="formatter.format(toDate)"
                               (input)="toDate = validateInput(toDate, dpToDate.value)">
                        <div class="input-group-append">
                            <button class="calendar-icon calendar fa fa-calendar" (click)="datepicker.toggle()"
                                    type="button"></button>
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="col-md-2 dashboard-filter-element">
                <mat-form-field>
                    <mat-label *ngIf="selectedClient == null">Select Client</mat-label>
                    <!--<mat-label *ngIf="selectedClient != null">{{selectedClient.name}}</mat-label>-->
                    <mat-select class="form-control" id="field_client" name="clint"
                                [(value)]="selectedClient"  >
                        <mat-option [value]="null">None</mat-option>
                        <mat-option [value]="clientOption"
                                    *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <!-- <pre>From: {{ fromDate | json }} </pre>
                 <pre>To: {{ toDate | json }} </pre>-->
            </div>
            <div class="col-md-1 dashboard-filter-element">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                        <button mat-raised-button type="submit" (click)="onClickFilter()" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
            </div>
        </div>


        <!-- Date and time range -->
        <!--<div class="form-group">
            <label>Date range button:</label>

            <div class="input-group-btn">
                <button type="button" class="btn btn-default" id="daterange-btn" style='width:230px'>

                    <i class="fa fa-calendar"></i>&nbsp; <span>defaut date</span>

                    <i class="fa fa-caret-down"></i>
                </button>
                <button id='btnDec' type="button" class="btn btn-danger btn-flat" title='Decrement month'><i class="fa fa-calendar-minus-o" aria-hidden="true"></i></button>
                <button id='btnInc' type="button" class="btn btn-info btn-flat" title='Increment month'><i class="fa fa-calendar-plus-o" aria-hidden="true"></i></button>

            </div>
        </div>-->
        <!-- /.form group -->


        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <!--<div class="card-header card-header-warning card-header-icon">-->
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">equalizer</i>
                        </div>
                        <p class="card-category">Invoices</p>
                        <h3 class="card-title">{{statistics.totalInvoice}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons text-danger">warning</i>-->
                            <!-- <a href="#pablo">Get More Space...</a>-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <!--<div class="card-header card-header-success card-header-icon">-->
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">trending_up</i>
                        </div>
                        <p class="card-category">Paid Invoices</p>
                        <h3 class="card-title">{{statistics.totalPaid}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!-- <i class="material-icons">local_offer</i> Tracked from Google Analytics-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <!--<div class="card-header card-header card-header-icon">-->
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cached</i>
                        </div>
                        <p class="card-category">Refund</p>
                        <h3 class="card-title">{{statistics.amountRefund}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <!--<i class="material-icons">date_range</i> Last 24 Hours-->
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                   <!-- <div class="card-header card-header-info card-header-icon">-->
                    <div class="card-header card-header-purple card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">attach_money</i>
                        </div>
                        <p class="card-category">Income</p>
                        <h3 class="card-title">{{statistics.income}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="card">
                <div class="card-header card-header-icon card-header-purple">
                    <div class="card-icon">
                        <i class="material-icons">timeline</i>
                    </div>
                    <h4 class="card-title"> Daily statistics
                        <small> {{month}} </small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="colouredBarsChart" class="ct-chart"></div>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="card">
                <div class="card-header card-header-icon card-header-primary">
                    <div class="card-icon">
                        <i class="material-icons">insert_chart</i>
                    </div>
                    <h4 class="card-title"> Monthly statistics
                        <small>{{year}}</small>
                    </h4>
                </div>
                <div class="card-body">
                    <div id="multipleBarsChart" class="ct-chart"></div>
                </div>
            </div>

        </div>

    </div>
</div>
