<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="row">-->

                    <div class="card-header card-header-text card-header-primary" data-background-color="primary-one">
                        <div class="card-text">
                            <h4 id="page-heading">
                                <span jhiTranslate="tbsApp.invoice.home.title">Invoices</span>
                            </h4>
                        </div>
                    </div>


                    <div class="col-sm-12">
                        <div class="pull-right">
                            <button [routerLink]="['/invoice/new']" id="jh-create-entity"
                                    class="btn btn-success btn-round btn-fab btn-fab-mini"
                                    title="Add Invoice">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>

                    <!-- </div>-->

                    <div class="card-content">

                        <jhi-alert></jhi-alert>
                        <br/>

                        <div class="datatable-wrapper">
                            <div class="row justify-content-end dashboard-filter">
                                <div class="form-group hidden">
                                    <div class="input-group">
                                        <input name="datepicker" id="datepicker1"
                                               class="form-control"
                                               ngbDatepicker
                                               #datepicker="ngbDatepicker"
                                               [autoClose]="'outside'"
                                               (dateSelect)="onDateSelection($event, datepicker)"
                                               [displayMonths]="2"
                                               [dayTemplate]="t"
                                               outsideDays="hidden"
                                               [maxDate]="maxDate"
                                               [startDate]="startDate">
                                        <ng-template #t let-date let-focused="focused" let-disabled="disabled">
                                        <span class="custom-day"
                                              [class.focused]="focused"
                                              [class.range]="isRange(date)"
                                              [class.faded]="isHovered(date) || isInside(date)"
                                              (mouseenter)="hoveredDate = date"
                                              (mouseleave)="hoveredDate = null"
                                              [class.text-muted]="disabled">
                                            {{ date.day }}
                                        </span>
                                        </ng-template>
                                    </div>
                                </div>

                                <div class="col-md-2 dashboard-filter-element">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input #dpFromDate
                                                   class="form-control" placeholder="Start date"
                                                   name="dpFromDate"
                                                   [value]="formatter.format(fromDate)"
                                                   (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                                            <div class="input-group-append">
                                                <button class="calendar-icon calendar fa fa-calendar "
                                                        (click)="datepicker.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-2 dashboard-filter-element">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input #dpToDate
                                                   class="form-control" placeholder="End date"
                                                   name="dpToDate"
                                                   [value]="formatter.format(toDate)"
                                                   (input)="toDate = validateInput(toDate, dpToDate.value)">
                                            <div class="input-group-append">
                                                <button class="calendar-icon calendar fa fa-calendar"
                                                        (click)="datepicker.toggle()"
                                                        type="button"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-2 dashboard-filter-element">
                                    <mat-form-field>
                                        <mat-label *ngIf="selectedClient == null">Select Client</mat-label>
                                        <!--<mat-label *ngIf="selectedClient != null">{{selectedClient.name}}</mat-label>-->
                                        <mat-select class="form-control" id="field_client" name="clint"
                                                    [(value)]="selectedClient">
                                            <mat-option [value]="null">None</mat-option>
                                            <mat-option [value]="clientOption"
                                                        *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2 dashboard-filter-element">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input class="form-control"
                                                   placeholder="Customer Id "
                                                   [(ngModel)]="customerId"
                                                   type="text">
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-md-2 dashboard-filter-element">-->
<!--                                    <mat-form-field>-->
<!--                                        <mat-label *ngIf="paymentStatusSelected == null">Select Payment Status-->
<!--                                        </mat-label>-->
<!--                                        &lt;!&ndash;<mat-label *ngIf="selectedClient != null">{{selectedClient.name}}</mat-label>&ndash;&gt;-->
<!--                                        <mat-select class="form-control" id="field_client1" name="clint"-->
<!--                                                    [(value)]="paymentStatusSelected">-->
<!--                                            <mat-option [value]="null">None</mat-option>-->
<!--                                            <mat-option [value]="status"-->
<!--                                                        *ngFor="let status of paymentStatus; trackBy: trackClientById">{{status.type}}</mat-option>-->
<!--                                        </mat-select>-->
<!--                                    </mat-form-field>-->
<!--                                </div>-->
                                <!-- <pre>From: {{ fromDate | json }} </pre>
                                 <pre>To: {{ toDate | json }} </pre>-->
                                <div class="col-md-1 dashboard-filter-element">
                                    <form class="navbar-form">
                                        <div class="input-group no-border">
                                            <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                                            <button mat-raised-button type="submit" (click)="onClickFilter()"
                                                    class="btn btn-white btn-round btn-just-icon">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                            <button (click)="clearSearch()" class="btn btn-white btn-round btn-just-icon">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="loader" *ngIf="busy">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                                                    stroke-miterlimit="10"/>
                                        </svg>
                                    </div>

                                    <div class="modal fade" id="auditModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-medium" style="width: 900px">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-hidden="true"><i class="material-icons">clear</i>
                                                    </button>
                                                </div>
                                                <div class="modal-body text-center">
                                                    <h3>Invoice
                                                        Logs: {{selectedInvoice ? selectedInvoice.accountId : ''}}</h3>
                                                    <table id="invoice_audit_datatables" class="display"
                                                           style="width:100%">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Type</th>
                                                            <th>Status</th>
                                                            <th>Modified Date</th>
                                                        </tr>

                                                        <tr *ngFor="let audit of auditInvoice; let odd=odd;"
                                                            [ngClass]="{odd_row: odd}">
                                                            <td>{{audit.id}}</td>
                                                            <!--<td>{{humanizeEnumString(audit.auditEventType)}}</td>-->
                                                            <td>{{ 'tbsApp.invoice.auditEvent.' + audit.auditEventType |
                                                                translate }}</td>
                                                            <td>
                                                                <span *ngIf="audit.successful"><i class="fa fa-check"
                                                                                                  style="color: green"
                                                                                                  aria-hidden="true"></i></span>
                                                                <span *ngIf="!audit.successful"><i class="fa fa-times"
                                                                                                   style="color: red"
                                                                                                   aria-hidden="true"></i></span>
                                                                {{audit.successful ? 'Ok' : 'Not Ok'}}
                                                            </td>
                                                            <td>{{formatDate(audit.auditEventDate)}}</td>
                                                        </tr>

                                                        </thead>
                                                    </table>
                                                </div>
                                                <div class="modal-footer text-center">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="app-ngx-datatable-wrapper">
                                        <ngx-datatable #table class="app-ngx-datatable"
                                                       [columns]="datatable.visibleColumns" [headerHeight]="'auto'"
                                                       [rowHeight]="'auto'" [summaryHeight]="'auto'"
                                                       [summaryRow]="false" [summaryPosition]="'bottom'"
                                                       [columnMode]="'flex'" [rows]="datatable.data" [footerHeight]="65"
                                                       [externalPaging]="true" [externalSorting]="true"
                                                       [count]="datatable.recordsFiltered" [limit]="datatable.length"
                                                       (page)="onPageChanged($event)" (sort)="onSortChanged($event)">

                                            <ngx-datatable-footer #footerRef>
                                                <ng-template #pagerTempRef ngx-datatable-footer-template
                                                             let-rowCount="rowCount" let-selectedCount="selectedCount"
                                                             let-offset="offset" let-pageSize="pageSize"
                                                             let-curPage="curPage">
                                                    <div class="total-entries">
                                                        <app-datatable-total-entries [rowCount]="rowCount"
                                                                                     [offset]="offset"
                                                                                     [pageSize]="pageSize"
                                                                                     [curPage]="curPage">
                                                        </app-datatable-total-entries>
                                                    </div>
                                                    <div class="datatable-pagination">
                                                        <datatable-pager #pagerRef
                                                                         [pagerLeftArrowIcon]="'fa fa-angle-left'"
                                                                         [pagerRightArrowIcon]="'fa fa-angle-right'"
                                                                         [pagerPreviousIcon]="'fa fa-angle-double-left'"
                                                                         [pagerNextIcon]="'fa fa-angle-double-right'"
                                                                         [page]="curPage" [size]="pageSize"
                                                                         [count]="rowCount"
                                                                         (change)="table.onFooterPage($event)">
                                                        </datatable-pager>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-footer>

                                        </ngx-datatable>

                                        <ng-template #headerTemplate let-column="column">
                                            <span>{{ column.name }}</span>
                                        </ng-template>

                                        <ng-template #rowTemplate let-value="value">
                                            <span>{{ value }}</span>
                                        </ng-template>

                                        <ng-template #nameRowTemplate let-row="row">
                                            <div class="payment-name">{{ row.name }}</div>
                                        </ng-template>

                                        <ng-template #paymentStatusRowTemplate let-row="row">
                                            <div class="badge" [ngClass]="{
                                                    'badge-warning': row.paymentStatus === PaymentStatus.REFUNDED,
                                                    'badge-success': row.paymentStatus === PaymentStatus.PAID,
                                                    'badge-info': row.paymentStatus === PaymentStatus.PENDING,
                                                    'badge-danger': row.paymentStatus === PaymentStatus.UNPAID
                                                }">
                                                {{ 'tbsApp.payment.paymentStatus.' + row.paymentStatus |
                                                translate }}
                                            </div>
                                        </ng-template>

                                        <ng-template #issueDateTemplate let-row="row">
                                            <span>{{ row.createdDate | tbsDateTime }}</span>
                                        </ng-template>

                                        <ng-template #actionsRowTemplate let-row="row">
                                            <div class="btn-group">
                                                <!--<button class="btn btn-info  btn-link" matTooltip="{{ 'global.datatable.view' | translate }}" [matTooltipPosition]="'above'" (click)="view(row)">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                                <button class="btn btn-primary  btn-link" matTooltip="{{ 'global.datatable.edit' | translate }}" [matTooltipPosition]="'above'" (click)="edit(row)">
                                                    <i class="material-icons">edit</i>
                                                </button>-->
                                                <!--<button class="btn btn-danger  btn-link" matTooltip="{{ 'global.datatable.delete' | translate }}" [matTooltipPosition]="'above'" (click)="delete(row)">
                                                    <i class="material-icons">close</i>
                                                </button>-->

                                                <button class="btn btn-primary btn-link" matTooltip=""
                                                        title="show audit" data-toggle="modal" data-target="#auditModal"
                                                        (click)="auditInvoiceView(row)">
                                                    <i class="material-icons">info</i>
                                                </button>
                                            </div>
                                        </ng-template>

                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>
