<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="row">-->

                    <div class="card-header card-header-text card-header-primary" data-background-color="primary-one">
                        <div class="card-text">
                            <h4 id="page-heading">
                                <span *ngIf="isCreate" jhiTranslate="userManagement.home.createLabel"> </span>
                                <span *ngIf="!isCreate" jhiTranslate="userManagement.home.editLabel"> </span>
                            </h4>
                        </div>
                    </div>

                    <form name="editForm" (ngSubmit)="save()" [formGroup]="editForm">

                        <div class="card-body">
                            <!--<div class="row justify-content-center">-->
                            <jhi-alert-error></jhi-alert-error>
                            <!--</div>-->
                            <!--<jhi-alert></jhi-alert>-->
                            <div class="col-sm-4">
                            </div>
                            <!--<input [disabled]="user.id === null" matInput type="checkbox" id="activated" name="activated" formControlName="activated">-->
                            <!--<input [disabled]="user.id === null" class="form-check-input" type="checkbox" id="activated" name="activated" formControlName="activated">-->
                            <div class="row" [hidden]="user.id">
                                <div class="col-sm-2">
                                </div>

                                <label class="col-form-label"
                                       jhiTranslate="userManagement.internal">Internal</label>
                                <div class="form-check mr-auto">
                                    <label class="form-check-label">
                                        <!--<input class="form-check-input" type="checkbox" value="">Subscribe to newsletter-->
                                        <input class="form-check-input"
                                               type="checkbox" id="isInternal"
                                               (change)="internalCheckBox()"
                                               name="isInternal" formControlName="isInternal"
                                        >
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                            </span>
                                    </label>
                                </div>


                            </div>

                            <div class="row" [hidden]="user.id || !isInternal">
                                <label class="col-sm-2 col-form-label" jhiTranslate="global.form.searchUser.label">Search</label>
                                <div class="col-sm-5">
                                    <input type="text" placeholder="Search for user" class="form-control"
                                           jhiTranslate="global.form.searchUser.placeholder" name="search"
                                           formControlName="search">
                                </div>
                                <div class="col-sm-3">
                                    <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                                    <button mat-raised-button type="button" (click)="searchLdapUser()"
                                            class="btn btn-default btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>

                                </div>
                            </div>

                            <div class="row" [hidden]="!user.id">
                                <label class="col-sm-2 col-form-label" jhiTranslate="global.field.id">ID</label>
                                <div class="col-sm-7">
                                    <input type="text" matInput class="form-control" name="id" formControlName="id"
                                           readonly>
                                </div>
                            </div>

                            <div class="row">

                                <label class="col-sm-2 col-form-label" jhiTranslate="userManagement.login">Login</label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label"
                                                    [ngClass]="{'has-success':validTextType===true}"
                                                    [ngClass]="displayFieldCss(type, 'text')"
                                    >
                                        <input type="text" name="login" matInput formControlName="login"
                                               [disabled]="isInternal"
                                               (change)="fieldIsEmpty()">
                                        <!--<div *ngIf="editForm.get('login').invalid && (editForm.get('login').dirty || editForm.get('login').touched)">
                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('login').errors.required" jhiTranslate="entity.validation.required">
                                                This field is required.
                                            </small>

                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('login').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                                                   [translateValues]="{max: 50}">
                                                This field cannot be longer than 50 characters.
                                            </small>

                                            <small class="form-text text-danger"
                                                   *ngIf="editForm.get('login').errors.pattern" jhiTranslate="entity.validation.patternLogin">
                                                This field can only contain letters, digits and e-mail addresses.
                                            </small>
                                        </div>-->
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="userManagement.firstName">First
                                    Name</label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label"
                                                    [ngClass]="{'has-success':validTextType===true}"
                                                    [ngClass]="displayFieldCss(type, 'text')">
                                        <input type="text" name="firstName" matInput formControlName="firstName" (change)="fieldIsEmpty()">
                                    </mat-form-field>

                                    <!--<div *ngIf="editForm.get('firstName').invalid && (editForm.get('firstName').dirty || editForm.get('firstName').touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('firstName').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                                               [translateValues]="{max: 50}">
                                            This field cannot be longer than 50 characters.
                                        </small>
                                    </div>-->
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="userManagement.lastName">Last
                                    Name</label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label"
                                                    [ngClass]="{'has-success':validTextType===true}"
                                                    [ngClass]="displayFieldCss(type, 'text')">
                                        <input type="text" name="lastName" matInput formControlName="lastName" (change)="fieldIsEmpty()">

                                    </mat-form-field>
                                    <!--<div *ngIf="editForm.get('lastName').invalid && (editForm.get('lastName').dirty || editForm.get('lastName').touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('lastName').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                                               [translateValues]="{max: 50}">
                                            This field cannot be longer than 50 characters.
                                        </small>
                                    </div>-->
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="userManagement.email">Email</label>
                                <div class="col-sm-7">
                                    <mat-form-field class="example-full-width has-label"
                                                    [ngClass]="{'has-success':validTextType===true}"
                                                    [ngClass]="displayFieldCss(type, 'text')">
                                        <input type="email" name="email" matInput formControlName="email" (change)="fieldIsEmpty()" >
                                    </mat-form-field>

                                    <!--<div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                                            This field is required.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email').errors.maxlength" jhiTranslate="entity.validation.maxlength"
                                               [translateValues]="{max: 100}">
                                            This field cannot be longer than 100 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email').errors.minlength" jhiTranslate="entity.validation.minlength"
                                               [translateValues]="{min: 5}">
                                            This field is required to be at least 5 characters.
                                        </small>

                                        <small class="form-text text-danger"
                                               *ngIf="editForm.get('email').errors.email" jhiTranslate="global.messages.validate.email.invalid">
                                            Your email is invalid.
                                        </small>
                                    </div>-->
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label" jhiTranslate="userManagement.langKey">Lang
                                    Key</label>
                                <div class="col-sm-4">
                                    <!--<mat-form-field class="example-full-width has-label" [ngClass]="{'has-success':validTextType===true}"
                                                    [ngClass]="displayFieldCss(type, 'text')">
                                    <select class="form-control" id="langKey" name="langKey" matInput formControlName="langKey">
                                        <option *ngFor="let language of languages" [value]="language">{{language | findLanguageFromKey}}</option>
                                    </select>
                                    </mat-form-field>-->
                                    <mat-form-field>
                                        <!-- <mat-label *ngIf="selectedCategory == null">Select an option</mat-label>-->
                                        <!--<mat-label *ngIf="selectedCategory != null">{{selectedCategory.name}}</mat-label>-->
                                        <mat-select class="form-control" id="langKey" name="langKey"
                                                    formControlName="langKey">
                                            <!--<mat-option [value]="null">None</mat-option>-->
                                            <mat-option [value]="language"
                                                        *ngFor="let language of languages"
                                                        [value]="language">{{language | findLanguageFromKey}}</mat-option>

                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="userManagement.activated">Activated</label>
                                <div class="col-sm-4">
                                    <!--<input [disabled]="user.id === null" matInput type="checkbox" id="activated" name="activated" formControlName="activated">-->
                                    <!--<input [disabled]="user.id === null" class="form-check-input" type="checkbox" id="activated" name="activated" formControlName="activated">-->

                                    <div class="form-check mr-auto">
                                        <label class="form-check-label">
                                            <!--<input class="form-check-input" type="checkbox" value="">Subscribe to newsletter-->
                                            <input [disabled]="user.id === null" class="form-check-input"
                                                   type="checkbox" id="activated" name="activated"
                                                   formControlName="activated">
                                            <span class="form-check-sign">
                                            <span class="check"></span>
                                          </span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm-2 col-form-label"
                                       jhiTranslate="userManagement.profiles">Profiles </label>
                                <div class="col-sm-7">
                                    <!--<select multiple name="authority" formControlName="authorities">
                                        <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
                                    </select>-->
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <!--<input type="text" class="form-control" id="field_roleClient" name="roleClient"-->
                                            <!--formControlName="roleClient" placeholder="Title" maxlength="255" [(ngModel)]="roleClient">-->
                                            <mat-form-field>
                                                <mat-select class="form-control" id="field_roleClient" name="roleClient"
                                                            formControlName="roleClient" [(value)]="roleClient">
                                                    <mat-option [value]="clientOption"
                                                                *ngFor="let clientOption of filtredClients;">{{clientOption.name}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>


                                        <div class="col-sm-4">
                                            <!--<input type="text" class="form-control" id="field_roleName" name="roleName"
                                                   formControlName="roleName" [(ngModel)]="roleName">-->
                                            <mat-form-field>
                                                <mat-select class="form-control" id="field_roleName" name="roleName"
                                                            formControlName="roleName" [(value)]="roleName">
                                                    <mat-option [value]="authorityOption"
                                                                *ngFor="let authorityOption of authorities">{{authorityOption}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-3 pull-right"
                                             [hidden]="roleClient=='' || roleClient==null || roleName==null || roleName==''">
                                            <button type="button" class="btn btn-success mt-30" (click)="addNewRole()">
                                                <i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <label class="col-sm-2 label-on-left"></label>
                                <div class="col-sm-7">
                                    <div class="table-responsive" *ngIf="clientRolesNotEmpty()">
                                        <table class="table">
                                            <thead class="text-primary">
                                            <tr>
                                                <th><span>Client</span></th>
                                                <th><span>Role</span></th>
                                                <th><span>Actions</span></th>
                                                <th><span>Info.</span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let rol of roles ;let i = index">
                                                <td>{{rol.roleClient}}</td>
                                                <td>{{rol.roleName}}</td>
                                                <td>
                                                    <div class="btn-group flex-btn-group-container">
                                                        <button mat-raised-button type="button"
                                                                class="btn btn-danger btn-link"
                                                                (click)="delete(rol.id, i)">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="btn-group flex-btn-group-container">
                                                          <span [tooltip]=translateAuthorities>
                           <i class="material-icons">info</i>
                </span>
                                                    </div>


                                                </td>

                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-4">
                            </div>
                            <div class="col-sm-4" align="center">
                                <button type="button" id="cancel-save" class="btn btn-dark" (click)="previousState()">
                                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                    jhiTranslate="entity.action.cancel">Cancel</span>
                                </button>
<!--                                <h5>-->
<!--                                    {{(isInternal&&ldapDateEmpty&&isCreate )}}-->
<!--                                </h5>-->
<!--                                <h5>-->
<!--                                    {{isSaving}}-->
<!--                                </h5>-->
<!--                                <h5>-->
<!--                                    {{(editForm.invalid) }}-->
<!--                                </h5>-->
<!--                                <h5>-->
<!--                                    {{(editForm.invalid&&IsFieldsEmpty) }}-->
<!--                                </h5>-->
                                <button type="submit" id="save-entity"
                                        [disabled]=" (editForm.invalid&&IsFieldsEmpty) || isSaving ||  (isInternal&&ldapDateEmpty&&isCreate )"
                                        class="btn btn-primary">
                                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                                    jhiTranslate="entity.action.save">Save</span>
                                </button>
                            </div>
                        </div>

                </div>
                </form>

            </div>
        </div>
    </div>
</div>
</div>

