<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="invoice">
            <h2><span jhiTranslate="tbsApp.invoice.detail.title">Invoice</span> {{invoice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tbsApp.invoice.customerId">Customer Id</span></dt>
                <dd>
                    <span>{{invoice.customerId}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.status">Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'tbsApp.InvoiceStatus.' + invoice.status}}">{{invoice.status}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.number">Number</span></dt>
                <dd>
                    <span>{{invoice.number}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.note">Note</span></dt>
                <dd>
                    <span>{{invoice.note}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.dueDate">Due Date</span></dt>
                <dd>
                    <span>{{invoice.dueDate}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.subtotal">Subtotal</span></dt>
                <dd>
                    <span>{{invoice.subtotal}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.amount">Amount</span></dt>
                <dd>
                    <span>{{invoice.amount}}</span>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.discount">Discount</span></dt>
                <dd>
                    <div *ngIf="invoice.discountId">
                        <a [routerLink]="['/discount', invoice.discountId, 'view']">{{invoice.discountId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tbsApp.invoice.client">Client</span></dt>
                <dd>
                    <div *ngIf="invoice.clientId">
                        <a [routerLink]="['/client', invoice.clientId, 'view']">{{invoice.clientId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/invoice', invoice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
