<div>
    <h2 id="page-heading">
        <span jhiTranslate="tbsApp.payment.home.title">Payments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-payment" [routerLink]="['/payment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="tbsApp.payment.home.createLabel">
            Create a new Payment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="payments?.length === 0">
        <span jhiTranslate="tbsApp.payment.home.notFound">No payments found</span>
    </div>
    <div class="table-responsive" *ngIf="payments?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="tbsApp.payment.amount">Amount</span></th>
            <th><span jhiTranslate="tbsApp.payment.status">Status</span></th>
            <th><span jhiTranslate="tbsApp.payment.expirationDate">Expiration Date</span></th>
            <th><span jhiTranslate="tbsApp.payment.invoice">Invoice</span></th>
            <th><span jhiTranslate="tbsApp.payment.paymentMethod">Payment Method</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments ;trackBy: trackId">
                <td><a [routerLink]="['/payment', payment.id, 'view' ]">{{payment.id}}</a></td>
                <td>{{payment.amount}}</td>
                <td jhiTranslate="{{'tbsApp.PaymentStatus.' + payment.status}}">{{payment.status}}</td>
                <td>{{payment.expirationDate | date:'medium'}}</td>
                <td>
                    <div *ngIf="payment.invoiceId">
                        <a [routerLink]="['/invoice', payment.invoiceId , 'view' ]" >{{payment.invoiceId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="payment.paymentMethodId">
                        <a [routerLink]="['/payment-method', payment.paymentMethodId , 'view' ]" >{{payment.paymentMethodId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/payment', payment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment', payment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/payment', { outlets: { popup: payment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
