<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card center-alignment">
                    <div class="row" style="display:inline-block; align-content: center">
                        <div class="col-xs-12">
                            <div class="pull-right" style="margin-left: 10px; align-content: baseline">
                            </div>
                            <div class="pull-left"
                                 style="align-content: baseline; margin-top: 10px; margin-right: 10px">
                                <h3 style="font-weight: bolder; font-style: oblique">You are not authorized to visit
                                    this page</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h3 align="center" style="font-weight: bolder"><a href="/dashboard"><span
                                    class="glyphicon glyphicon-home" title="HOME!"></span></a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
