<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <!--<div class="row">-->

                    <div class="card-header card-header-text card-header-primary" data-background-color="primary-one">
                       <div class="card-text">
                           <h4 id="page-heading">
                               <span jhiTranslate="tbsApp.item.home.title">Items</span>
                           </h4>
                       </div>
                    </div>


                        <div class="col-sm-12">
                            <div class="pull-right">
                                <button [routerLink]="['/item/new']" id="jh-create-entity"
                                        class="btn btn-success btn-round btn-fab btn-fab-mini"
                                        title="Add Delivery Provider">
                                    <i class="material-icons">add</i>
                                </button>
                            </div>
                        </div>

                   <!-- </div>-->

                    <div class="card-content">

                        <jhi-alert></jhi-alert>
                        <br/>
                        <!--<div class="alert alert-warning" *ngIf="items?.length === 0">
                            <span jhiTranslate="tbsApp.item.home.notFound">No items found</span>
                        </div>-->

                        <div class="datatable-wrapper">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="datatable-length">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ 'global.datatable.show_entries' | translate }}</label>
                                            <mat-form-field>
                                                <mat-select name="length" [(ngModel)]="datatable.length" (ngModelChange)="onPageSizeChanged()">
                                                    <mat-option [value]=10>10</mat-option>
                                                    <mat-option [value]=25>25</mat-option>
                                                    <mat-option [value]=50>50</mat-option>
                                                    <mat-option [value]=100>100</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4" align="center">
                                    <form class="form-inline">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ 'global.datatable.search' | translate }}</label>
                                            <input name="search" [(ngModel)]="datatable.search" type="text" class="form-control" style="padding-left: 5px;">
                                        </div>
                                        <button (click)="search()" class="btn btn-just-icon btn-info-second btn-round">
                                            <i class="material-icons">search</i>
                                        </button>
                                        <button (click)="clearSearch()" class="btn btn-just-icon btn-round btn-info-second">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="loader" *ngIf="busy">
                                        <svg class="circular" viewBox="25 25 50 50">
                                            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
                                        </svg>
                                    </div>

                                    <div class="walem-ngx-datatable-wrapper">
                                        <ngx-datatable #table class="walem-ngx-datatable" [columns]="datatable.visibleColumns" [headerHeight]="'auto'" [rowHeight]="'auto'" [summaryHeight]="'auto'" [summaryRow]="false" [summaryPosition]="'bottom'" [columnMode]="'flex'" [rows]="datatable.data" [footerHeight]="65" [externalPaging]="true" [externalSorting]="true" [count]="datatable.recordsFiltered" [limit]="datatable.length" (page)="onPageChanged($event)" (sort)="onSortChanged($event)">

                                            <ngx-datatable-footer #footerRef>
                                                <ng-template #pagerTempRef ngx-datatable-footer-template let-rowCount="rowCount" let-selectedCount="selectedCount" let-offset="offset" let-pageSize="pageSize" let-curPage="curPage">
                                                    <div class="total-entries">
                                                        <app-datatable-total-entries [rowCount]="rowCount" [offset]="offset" [pageSize]="pageSize" [curPage]="curPage">
                                                        </app-datatable-total-entries>
                                                    </div>
                                                    <div class="datatable-pagination">
                                                        <datatable-pager #pagerRef [pagerLeftArrowIcon]="'fa fa-angle-left'" [pagerRightArrowIcon]="'fa fa-angle-right'" [pagerPreviousIcon]="'fa fa-angle-double-left'" [pagerNextIcon]="'fa fa-angle-double-right'" [page]="curPage" [size]="pageSize" [count]="rowCount" (change)="table.onFooterPage($event)">
                                                        </datatable-pager>
                                                    </div>
                                                </ng-template>
                                            </ngx-datatable-footer>

                                        </ngx-datatable>

                                        <ng-template #headerTemplate let-column="column">
                                            <span>{{ column.name }}</span>
                                        </ng-template>

                                        <ng-template #rowTemplate let-value="value">
                                            <span>{{ value }}</span>
                                        </ng-template>

                                        <ng-template #actionsRowTemplate let-row="row">
                                            <div class="btn-group">
                                                <button class="btn btn-info  btn-link" matTooltip="{{ 'global.datatable.view' | translate }}" [matTooltipPosition]="'above'" (click)="view(row)">
                                                    <i class="material-icons">visibility</i>
                                                </button>
                                                <button class="btn btn-primary  btn-link" matTooltip="{{ 'global.datatable.edit' | translate }}" [matTooltipPosition]="'above'" (click)="edit(row)">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <!--<button class="btn btn-danger  btn-link" matTooltip="{{ 'global.datatable.delete' | translate }}" [matTooltipPosition]="'above'" (click)="delete(row)">
                                                    <i class="material-icons">close</i>
                                                </button>-->
                                            </div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
